<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fceapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d092485d-3eca-45fe-9d95-9e800fe510f1/resourceGroups/JB/providers/Microsoft.Web/sites/FceApp</ResourceId>
    <UserName>$FceApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fceapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>